*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font: 16px/1.5  "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
  background-color: #fff;
}

/* 去除列表默认样式 */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
    color: transparent; /* 让文字透明，看是否还有“点” */
}

/* 去除默认的倾斜效果 */
em,
i {
  font-style: normal;
}

/* 去除a标签默认下划线，并设置默认文字颜色 */
a {
  text-decoration: none;
  color: #333;
}

/* 设置img的垂直对齐方式为居中对齐，去除img默认下间隙 */
img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* 去除input默认样式 */
input {
  border: none;
  outline: none;
  color: #333;
}

/* 清楚标题标签的字体加粗效果 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}