/*/各个界面的相同样式*/
/*版心*/
.wrapper{
    width: 1240px;
    margin: 0 auto;
}

.shortcut{
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper {
  display: flex;
  justify-content: flex-end;
  height: 52px;
}

.shortcut .wrapper ul{
    float:right;
}

.shortcut .wrapper li{
    float: left;
    line-height: 52px;
}

.shortcut .wrapper a{
    padding: 0 16px;
    border-right: 1px solid #666;
    font-size: 14px;
    color: #fff;
}

.shortcut .wrapper a span{
    display: inline-block;
    margin-right: 8px;
    width: 14px;
    height: 16px;
    margin-right: 5px;
    background-image: url(../images/phone.png);
    background-size: contain;
    vertical-align: middle; 
}

.shortcut .wrapper li:last-child a{
    border-right: none;
}

/*头部*/
.header{
    margin: 20px auto;
    height: 95px;
}

.logo{
    float: left;
    width: 200px;
    height: 100px;
}

.logo img{
    width: 100%;
    height: 90%;
}

.nav{
    float: left;
    height: 70px;
    margin-left: 40px; ;
}

.nav li{
    float: left;
    margin-right: 48px;
    line-height: 80px;
}
/*文字和hover的距离*/
.nav li a{
    padding-bottom: 7px;
}

.nav li a:hover{
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;
}

.search{
    position: relative;/*给放大镜定位*/
    float: left;
    margin-top: 28px;
    margin-left: 34px;
    width: 172px;
    height: 30px;
    border-bottom: 1px solid #4d4646;
}

.search input{
    padding-left: 30px;
    width: 172px;
    height: 28px;
    
}

.search input::placeholder{
    font-size: 16px;
    color: #ccc;
}

.search span{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
    background-size: contain;
}

.car{
    position: relative;
    float: left;
    margin-left: 15px;
    width: 25px;
    height: 25px;
    background-image: url(../images/car.png);
    background-size: contain;
    margin-top: 30px;
}

.car span{
    position: absolute;
    right: -10px;
    top: -6px;
    width: auto;
    height: 15px;
    background-color: #e26237;
    border-radius: 10px;

    font-size: 13px;
    padding: 2px 4px;
    color: #fff;
    text-align: center;
    line-height: 15px;
}

.footer{
    height: 600px;
    width: 100%;
    background-color: #f1f1f1;
}

.footer .top{
    padding-top: 59px;
    padding-left: 300px;
    /* width: 1240px; */
    height: 175px;
    border-bottom: 1px solid #adabab;
}

.footer .top li{
    float: left;
    margin-right: 200px;
    width: 130px;
    height: 60px;
    background-image: url(../images/sprite.png);

}

.top li:nth-child(1){
    width: 58px;
    height: 58px;
    background-position: 0 0;
}

.top li:nth-child(2){
    width: 58px;
    height: 58px;
    background-position: 0 -58px;
}

.top li:nth-child(3){
    width: 58px;
    height: 58px;
    background-position: 0 -116px;
}

.top li:nth-child(4){
    width: 58px;
    height: 58px;
    background-position: 0 -174px;
}

.top li a{
    display: block;
    padding-left: 75px;
    padding-top: 8px;
    height: 40px;
    line-height: 40px;
    font-size: 28px;
    color: black;
    white-space: nowrap;
}

.footer .wrapper{
    width: 1119px;
    margin: 0 auto;
}

.footer .bottom{
    padding-top: 58px;
    margin-left: 200px;
    /* margin-right: 150px; */
    height: 302px;
    display: flex;
    justify-content: space-between;
}

.footer dt{
    font-size: 18px;
    margin-bottom: 20px;
}

.footer dd a{
    color: #969696;
    display: block;
    line-height: 32px;
}

.footer .box{
    display: flex;
}

.footer dd .kefulogo{
    display: inline-block;
    height: 17px;
    width: 17px;
    margin-top: 7px;
    background-size: contain;
    background-image: url(../images/kefu.png);
}

.footer .right ul{
    display: flex;
    justify-content: space-between;
    width: 295px;
    margin-right: 30px;
}

.footer .right img{
    float: left;
    width: 120px;
    height: 120px;
    margin-bottom: 8px;
}
.footer .right p{
  text-align: center;
  color: #969696;
  margin-bottom: 120px;
}

.footer .copyright{
    text-align: center;
    color: #969696;
    font-size: 16px;
    padding-top: 10px;
}

.footer .copyright ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    /* gap: 10px; */
}

.footer .copyright li{
    border-right: 1px solid #666;
    font-size: 18px;
    color: #969696;
    padding-left: 8px;
    padding-right: 5px;
}

.footer .copyright p{
    margin-top: 10px;
    font-size: 16px;
}
